<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h2>Welcome, <%= user.username %></h2>
  <p>Here are some products:</p>
  <ul>
    <li>Product 1</li>
    <li>Product 2</li>
    <li>Product 3</li>
  </ul>
  <a href="/logout">Logout</a>
</body>
</html>
